@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font family definitions */
@layer base {
  .font-goudy {
    font-family: 'Goudy Bookletter 1911', serif;
  }
  
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
  
  .font-dela-gothic {
    font-family: 'Dela Gothic One', cursive;
  }
  
  .font-baloo-bhai {
    font-family: 'Baloo Bhai 2', cursive;
  }
  
  .font-archivo-black {
    font-family: 'Archivo Black', sans-serif;
  }
  
  .font-titan-one {
    font-family: 'Titan One', cursive;
  }
  
  .font-sofia {
    font-family: 'Sofia', cursive;
  }
}

/* Custom low-opacity scrollbar */
.slider::-webkit-scrollbar {
  height: 8px;
}

.slider::-webkit-scrollbar-track {
  background: transparent;
}

.slider::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Lower opacity */
  border-radius: 10px;
}

.slider {
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent; /* Firefox */
}

/* Only hides horizontal scrollbar, not vertical ones */
.hide-horizontal-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.hide-horizontal-scrollbar::-webkit-scrollbar {
  height: 0px;
}

.react-phone-input-2 {
  border-radius: 10px;
  overflow: hidden;
}

.react-phone-input-2 .flag-dropdown {
  background-color: #D9D9D966;
  border-right: 2px solid #000000B2;
  border-radius: 10px 0 0 10px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  height: 50px;
}

.react-phone-input-2 .flag-dropdown:hover {
  background-color: #D9D9D966 !important;
}

.react-phone-input-2 .flag {
  width: 28px !important;
  height: 20px !important;
  background-size: 28px 20px !important;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent; /* Firefox */
}

.custom-scroll::-webkit-scrollbar {
  height: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Tailwind CSS plugin or custom CSS */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

